{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mb-5"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="mb-5"></div>
        <div class="mb-3">
            <h1>Ajout d'une serre</h1>
        </div>
    </div>
    {% if errors %}
    <div class="row justify-content-center">
        <div class="mb-5"></div>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Erreurs</h5>
                <p class="card-text">
                    {% for error in errors %}
                    - {{ error }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <form method="post" action="/serre/add/?next={{ next }}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="mb-3" style="min-width: 50%;">
                <label for="name-input" class="form-label">Nom de la serre</label>
                <input type="text" class="form-control" id="name-input" name="name" placeholder="Ma super serre" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3" style="min-width: 50%;">
                <label for="culture-input" class="form-label">Type de culture</label>
                <input type="text" class="form-control" id="culture-input" name="culture" placeholder="Cannabis" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="mb-3" style="min-width: 50%;">
                <label for="lora-input" class="form-label">Device EUID LoRa (optionnel)</label>
                <input type="text" class="form-control" id="lora-input" name="lora" placeholder="70B5E57ED0046B56">
            </div>
        </div>
        <div class="mb-5"></div>
        <div class="row justify-content-md-center">
            <button class="btn btn-primary" type="submit">Créer une serre</button>
        </div>
        <div class="mb-5"></div>
    </form>
</div>
{% endblock %}