{% extends 'base.html' %}
{% block style %}
    </style>
    <link rel="stylesheet" href="/static/serre/css/mdb.min.css"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mb-5"></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mb-5"></div>
            <div class="mb-3">
                <h1>Modifier une serre</h1>
            </div>
        </div>
        {% if errors %}
            <div class="row justify-content-center">
                <div class="mb-5"></div>
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-width: 50%;">
                    <div class="card-body">
                        <h5 class="card-title">Erreurs</h5>
                        <p class="card-text">
                            {% for error in errors %}
                                - {{ error }}<br>
                            {% endfor %}
                        </p>
                    </div>
                </div>
            </div>
        {% endif %}
        <form method="post" action="{% url 'modify-serre' serre.pk %}?next={{ next }}">
            {% csrf_token %}
            <div class="row">
                <div class="mb-5"></div>
                <div class="mb-3">
                    <h2>Général</h2>
                    <hr class="my-3">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="lux-label-addon">Nom de la serre</span>
                            <input type="text" class="form-control" id="name-input" name="name" value="{{ serre.name }}"
                                   required>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="lux-label-addon">Type de culture</span>
                            <input type="text" class="form-control" id="culture-input" name="culture"
                                   value="{{ serre.type_culture }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-5"></div>
                <div class="mb-3">
                    <h2>Paramètres</h2>
                    <hr class="my-3">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">light_mode</span>
                            <span class="input-group-text" id="lux-label-addon">Luminosité minimale</span>
                            <input type="number" class="form-control" id="lumino-value-input" name="lumino"
                                   placeholder="1500" aria-describedby="lux-addon" value="{{ serre.seuil_lumino_value }}" required>
                            <span class="input-group-text" id="lux-addon">Lux</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">light_mode</span>
                            <span class="input-group-text" id="lux-label-addon">Début de la journée</span>
                            <input type="text" name="debut" class="form-control timepicker" id="input-starttime"
                                   placeholder="Heure selectionnée" value="{{ debut }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">light_mode</span>
                            <span class="input-group-text" id="lux-label-addon">Fin de la journée</span>
                            <input type="text" name="fin" class="form-control timepicker" id="input-endtime"
                                   placeholder="Heure selectionnée" value="{{ fin }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">thermostat</span>
                            <span class="input-group-text" id="temp-label-addon">Température minimale</span>
                            <input type="number" class="form-control" id="temp-value-input" name="temperature"
                                   placeholder="25" aria-describedby="temp-addon" min="0" max="55"
                                   value="{{ serre.seuil_temp|floatformat:"0" }}" required>
                            <span class="input-group-text" id="temp-addon">°C</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">water_drop</span>
                            <span class="input-group-text" id="hum-air-label-addon">Humidité de l'air maximale</span>
                            <input type="number" class="form-control" id="hum-air-value-input" name="hum-air"
                                   placeholder="50" aria-describedby="hum-air-addon" min="0" max="100"
                                   value="{{ serre.seuil_air_humid|floatformat:"0" }}" required>
                            <span class="input-group-text" id="hum-air-addon">%</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-8">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">grass</span>
                            <span class="input-group-text" id="hum-sol-label-addon">Humidité du sol minimale</span>
                            <input type="number" class="form-control" id="hum-sol-value-input" name="hum-sol"
                                   placeholder="50" aria-describedby="hum-sol-addon" min="0" max="100"
                                   value="{{ serre.seuil_sol_humid|floatformat:"0" }}" required>
                            <span class="input-group-text" id="hum-sol-addon">%</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-5"></div>
                <div class="mb-3">
                    <h2>Communication LoRa</h2>
                    <hr class="my-3">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">fingerprint</span>
                            <span class="input-group-text" id="devuid-addon">Device EUID LoRa (optionnel)</span>
                            <input type="text" class="form-control" id="dev-eui-value-input" name="dev-eui"
                                   placeholder="70B5E57ED0046B56" value="{{ serre.DeviceEUI }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">import_contacts</span>
                            <span class="input-group-text" id="devadr-addon">Device Address</span>
                            <input type="text" class="form-control" id="dev-adr-value-input" name="dev-adr"
                                   placeholder="260B2F65" value="{{ serre.DevAddr }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">vpn_key</span>
                            <span class="input-group-text" id="nwkskey-addon">Clé de Session Réseau (NwkSKey)</span>
                            <input type="text" class="form-control" id="nwkskey-value-input" name="nwkskey"
                                   placeholder="0x34, 0xE7, 0x78, ... (format MSB)" value="{{ serre.NetworkSKey }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">vpn_key</span>
                            <span class="input-group-text"
                                  id="appskey-addon">Clé de Session Applicative (AppSKey)</span>
                            <input type="text" class="form-control" id="appskey-value-input" name="appskey"
                                   placeholder="0xDF, 0xB2, 0x7B, ... (Format MSB)" value="{{ serre.AppSKey }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mb-5"></div>
                <div class="mb-3">
                    <h2>Communication Wi-Fi</h2>
                    <hr class="my-3">
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="input-group mb-3">
                            <span class="input-group-text material-icons">wifi</span>
                            <span class="input-group-text"
                                  id="appskey-addon">Nom du réseau (SSID)</span>
                            <input type="text" class="form-control" id="wifi-name-input" name="wifi-name"
                                   placeholder="SFR_B890" value="{{ serre.ssid }}">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="accordion" id="WifiList">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="WPATitle">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseWPA" aria-expanded="true" aria-controls="collapseWPA">
                                    Authentification par WPA/WPA2 (mot de passe)
                                </button>
                            </h2>
                            <div id="collapseWPA" class="accordion-collapse collapse" aria-labelledby="WPATitle"
                                 data-bs-parent="#WifiList">
                                <div class="accordion-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text material-icons">vpn_key</span>
                                        <span class="input-group-text"
                                              id="appskey-addon">Mot de passe Wifi</span>
                                        <input type="password" class="form-control" id="wpa-key-input" name="wpa-key"
                                               placeholder="Mot de passe Wifi" value="{{ serre.password_wpa }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="PEAPTitle">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapsePEAP" aria-expanded="true" aria-controls="collapsePEAP">
                                    Authentification par PEAP (login + mot de passe)
                                </button>
                            </h2>
                            <div id="collapsePEAP" class="accordion-collapse collapse" aria-labelledby="PEAPTitle"
                                 data-bs-parent="#WifiList">
                                <div class="accordion-body">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text material-icons">badge</span>
                                        <span class="input-group-text"
                                              id="appskey-addon">Identifiant</span>
                                        <input type="text" class="form-control" id="peap-id-input" name="peap-id"
                                               placeholder="prenom.nom@unilasalle.fr" value="{{ serre.login_peap }}">
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text material-icons">vpn_key</span>
                                        <span class="input-group-text"
                                              id="appskey-addon">Mot de passe</span>
                                        <input type="password" class="form-control" id="peap-key-input" name="peap-key"
                                               placeholder="Mot de passe" value="{{ serre.password_peap }}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mb-5"></div>
            <div class="row justify-content-md-center">
                <button class="btn btn-primary" type="submit">Modifier la serre</button>
            </div>
            <div class="mb-5"></div>
        </form>
    </div>
{% endblock %}
{% block script %}
    function updateluminoinput(val) {
    document.getElementById('lumino-value-input').value=val;
    }
    </script>
    <script src="/static/serre/js/mdb.js"></script>
    <script>
        $('#input-starttime').pickatime({});
        $('#input-endtime').pickatime({});
{% endblock %}