{% extends 'base.html' %}
{% block style %}
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	height: 900px;
}

.overlay {
	width: 100%;
	height: 100%;
	padding: 50px;
	color: #fff;
	text-shadow: 1px 1px 1px #333;
	background-image: linear-gradient(135deg, #336eff 10%, #42a52e 100%);

	text-align: center;
	width: 100%;
	height: auto;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	overflow: hidden;
	border-radius: 0 0 85% 85% / 30%;
}

h1 {
	font-family: "Dancing Script", cursive;
	font-size: 80px;
	margin-bottom: 15px;
}

h3 {
	font-family: "Times New Roman", sans-serif;
	margin-bottom: 30px;
}

#retour {
	border: none;
	outline: none;
	padding: 10px 20px;
	border-radius: 50px;
	color: #333;
	background: #fff;
	margin-bottom: 50px;
	box-shadow: 0 3px 20px 0 #0000003b;
    text-shadow: none;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}
{% endblock %}

{% block content %}
<div class="container">
    <div class="overlay">
        <h1>Serre connectée</h1>
        <h3>Nourriture et satisfaction à portée de main</h3>
        <p>Une serre connectée et innovante crée à Unilasalle.<br><br>
            <img src="/static/serre/images/schemafonctionnel.jpeg" alt="> Ici devait s'afficher le schéma fonctionnel, rechargez la page... <">
            <br><br>
            Équipe : <i>Rémi Maubanc et Julien Blot</i><br> <!-- note : normalement préférable de préciser le style CSS-->
            Accompagnement : <i> Jean Nguyen-Cadoret </i>
        </p>
        <a class="btn btn-primary" id="retour" href="/" role="button">Retour à l'accueil</a>
    </div>
</div>
{% endblock %}