{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mb-5"></div>
        </div>
        {% if message %}
            <div class="row justify-content-center">
                <div class="mb-5"></div>
                <div class="card text-black bg-success mb-3" style="max-width: 18rem; min-width: 50%;">
                    <div class="card-body">
                        <p>{{ message }}</p>
                    </div>
                </div>
            </div>
        {% endif %}
        {% for serre in serres %}
        <div class="row justify-content-md-center" style="min-height: 75vh; ">
            <span class="border border-success border-2" id="border{{ serre.pk }}">
                <div class="mb-5 center-block">
                    <h2 style="text-align: center">{{ serre.name }}</h2>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="list-group">
                            <a id="temp{{ serre.pk }}" class="list-group-item list-group-item-action active"aria-current="true" onclick="changeChart(this, {{ serre.pk }})">Température</a>
                            <a id="hygro{{ serre.pk }}" class="list-group-item list-group-item-action" aria-current="true" onclick="changeChart(this, {{ serre.pk }})">Humidité</a>
                            <a id="lumino{{ serre.pk }}" class="list-group-item list-group-item-action" aria-current="true" onclick="changeChart(this, {{ serre.pk }})">Luminosité</a>
                            <a id="pres{{ serre.pk }}" class="list-group-item list-group-item-action" aria-current="true" onclick="changeChart(this, {{ serre.pk }})">Pression</a>
                        </div>
                    </div>
                    <div class="col-md-8 graph{{ serre.pk }}-temp" id="graph{{ serre.pk }}-temp" style="min-height: 60vh; display: null;"></div>
                    <div class="col-md-8 graph{{ serre.pk }}-hygro" id="graph{{ serre.pk }}-hygro" style="min-height: 60vh; display: none;"></div>
                    <div class="col-md-8 graph{{ serre.pk }}-lumino" id="graph{{ serre.pk }}-lumino" style="min-height: 60vh; display: none"></div>
                    <div class="col-md-8 graph{{ serre.pk }}-pres" id="graph{{ serre.pk }}-pres" style="min-height: 60vh; display: none;"></div>
                </div>
            </span>
        </div>
        <div class="mb-1"></div>
        {% endfor %}
    </div>
{% endblock %}
{% block script %}
</script>
<script src="/static/serre/js/highstock.js"></script>
<script src="/static/serre/js/boost.js"></script>
<script src="/static/serre/js/data.js"></script>
<script src="/static/serre/js/exporting.js"></script>
<script>
    Highcharts.setOptions({
        lang: {
            months: [
            'Janvier', 'Février', 'Mars', 'Avril',
            'Mai', 'Juin', 'Juillet', 'Août',
            'Septembre', 'Octobre', 'Novembre', 'Décembre'
            ],
            weekdays: [
                'Dimanche', 'Lundi', 'Mardi', 'Mercredi',
                'Jeudi', 'Vendredi', 'Samedi'
            ],
            shortMonths: [
                'Jan', 'Fev', 'Mar', 'Avr', 'Mai', 'Juin',
                'Juil', 'Aou', 'Sep', 'Oct', 'Nov', 'Dec'
            ],
            noData: "Aucune Donnée"
        }
    })

    function updateActive(pk, element) {
        if (element.hasChildNodes()) {
            if (element.classList.contains('active')) {
                element.classList.remove('active');
            }
            const number = element.attributes.id.nodeValue;
            let graph = document.getElementById("graph".concat(pk, "-", number.slice(0, -1)));
            if (graph !== null) {
                graph.style.display = "none";
            }
        }
    }

    function changeChart(button, pk) {
        let parentButton = button.parentNode;
        parentButton.childNodes.forEach(updateActive.bind(null, pk));
        button.classList.add('active');
        const number = button.attributes.id.nodeValue;
        let graph = document.getElementById("graph".concat(pk, "-", number.slice(0, -1)));
        graph.style.display = null;
    }

    let xhttp = new XMLHttpRequest();
    function getSerre(pk, serre) {
        xhttp = window.XMLHttpRequest ? new XMLHttpRequest() : new ActiveXObject("Microsoft.XMLHTTP");
        const address = "/serre/get/".concat(pk, "/");
        const reqType = "GET";

        xhttp.open(reqType, address, false);
        xhttp.onload = function (e) {
            console.log(e);
            if (xhttp.readyState === 4 && xhttp.status === 200) {
                serre = JSON.parse(xhttp.responseText);
            }
        };
        xhttp.onerror = function (e) {
            console.error(xhttp.statusText);
        };
        xhttp.send(null);
        return serre;
    }

    {% for serre in serres %}
    var serre{{ serre.pk }};
    serre{{ serre.pk }} = getSerre("{{ serre.pk }}", serre{{ serre.pk }});
    if (serre{{ serre.pk }}[0]['data'].length === 0) {
        let container = document.getElementById('border{{ serre.pk }}');
        container.classList.remove('border-success');
        container.classList.add('border-danger');
    }
    Highcharts.stockChart({
        chart: {
            renderTo: 'graph{{ serre.pk }}-temp',
            borderWidth: 1
        },

        title: {
            text: 'Température'
        },
        noData: {
            style: {
                fontWeight: 'bold',
                fontSize: '15px',
                color: '#696969'
            }
        },

        xAxis: {
            type: "datetime",
            title: {
                text: "Temps"
            },
            dateTimeLabelFormat: {
                month: '%e. %b',
                year: '%b'
            },
        },
        yAxis: {
            title: {
                text: 'Température (°C)'
            },
            labels: {
                format: '{value:,.1f}'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    },
                    format: '{point.y:.1f}'
                },
                marker: {
                    enabled: false,
                },
                enableMouseTracking: true
            }
        },
        tooltip: {
            useHTML: true,
            headerFormat: '<table><tr><th colspan="2">{point.key}</th></tr>',
            pointFormat: '<tr><td style="color: {series.color}">{series.name} </td>' +
                         '<td style="text-align: right"><b>{point.y:.1f}°C</b></td></tr>',
            footerFormat: '</table>',
            crosshairs: [true]
        },
        series: [{
            name: 'Température',
            color: '#5b9bd5',
            data: serre{{ serre.pk }}[0]['data'],
            label: {
                enabled: false
            }
        }],
        rangeSelector: {
            allButtonsEnabled: true,
            buttons: [
                {
                    type: 'hour',
                    count: 1,
                    text: '1h',
                    title: 'Dernière heure'
                },
                {
                    type: 'hour',
                    count: 3,
                    text: '3h',
                    title: '3 dernières heures'
                },
                {
                    type: 'day',
                    count: 1,
                    text: '1j',
                    title: '24 dernières heures'
                },
                {
                    type: 'week',
                    count: 1,
                    text: '1sem',
                    title: '7 derniers jours'
                },
                {
                    type: 'all',
                    text: 'Tous',
                    title: 'Tous'
                }
            ]
        }
    });
    Highcharts.stockChart({
        chart: {
            renderTo: 'graph{{ serre.pk }}-hygro',
            borderWidth: 1
        },

        title: {
            text: 'Hygrométrie'
        },

        xAxis: {
            type: "datetime",
            title: {
                text: "Temps"
            },
            labels: {
                formatter: function() {
                    return Highcharts.dateFormat('%d/%m/%Y %H:%M', this.value);
                }
            }
        },
        yAxis: {
            title: {
                text: 'Hygrométrie (%)'
            },
            labels: {
                format: '{value:,.1f}'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    },
                    format: '{point.y:.1f}'
                },
                marker: {
                    enabled: false,
                },
                enableMouseTracking: true
            }
        },
        tooltip: {
            useHTML: true,
            headerFormat: '<table><tr><th colspan="2">{point.key}</th></tr>',
            pointFormat: '<tr><td style="color: {series.color}">{series.name} </td>' +
                         '<td style="text-align: right"><b>{point.y:.1f} %</b></td></tr>',
            footerFormat: '</table>',
            crosshairs: [true],
        },
        series: [{
            name: "Hygrométrie air",
            color: '#67d55b',
            data: serre{{ serre.pk }}[1]['data'],
            label: {
                enabled: false
            }
        },{
            name: "Hygrométrie sol",
            color: '#375ee7',
            data: serre{{ serre.pk }}[2]['data'],
            label: {
                enabled: false
            }
        }
        ],
        rangeSelector: {
            allButtonsEnabled: true,
            buttons: [
                {
                    type: 'hour',
                    count: 1,
                    text: '1h',
                    title: 'Dernière heure'
                },
                {
                    type: 'hour',
                    count: 3,
                    text: '3h',
                    title: '3 dernières heures'
                },
                {
                    type: 'day',
                    count: 1,
                    text: '1j',
                    title: '24 dernières heures'
                },
                {
                    type: 'week',
                    count: 1,
                    text: '1sem',
                    title: '7 derniers jours'
                },
                {
                    type: 'all',
                    text: 'Tous',
                    title: 'Tous'
                }
            ]
        }
    });
    Highcharts.stockChart({
        chart: {
            renderTo: 'graph{{ serre.pk }}-lumino',
            borderWidth: 1
        },

        title: {
            text: 'Luminosité'
        },

        xAxis: {
            type: "datetime",
            title: {
                text: "Temps"
            },
            labels: {
                formatter: function() {
                    return Highcharts.dateFormat('%d/%m/%Y %H:%M', this.value);
                }
            }
        },
        yAxis: {
            title: {
                text: 'Luminosité (lux)'
            },
            labels: {
                format: '{value:,.0f}'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    },
                    format: '{point.y:.1f}'
                },
                marker: {
                    enabled: false,
                },
                enableMouseTracking: true
            }
        },
        tooltip: {
            useHTML: true,
            headerFormat: '<table><tr><th colspan="2">{point.key}</th></tr>',
            pointFormat: '<tr><td style="color: {series.color}">{series.name} </td>' +
                         '<td style="text-align: right"><b>{point.y:.1f} Lux</b></td></tr>',
            footerFormat: '</table>',
            crosshairs: [true]
        },
        series: [{
            name: 'Luminosité',
            color: '#f84d12',
            data: serre{{ serre.pk }}[3]['data'],
            label: {
                enabled: false
            }
        }],
        rangeSelector: {
            allButtonsEnabled: true,
            buttons: [
                {
                    type: 'hour',
                    count: 1,
                    text: '1h',
                    title: 'Dernière heure'
                },
                {
                    type: 'hour',
                    count: 3,
                    text: '3h',
                    title: '3 dernières heures'
                },
                {
                    type: 'day',
                    count: 1,
                    text: '1j',
                    title: '24 dernières heures'
                },
                {
                    type: 'week',
                    count: 1,
                    text: '1sem',
                    title: '7 derniers jours'
                },
                {
                    type: 'all',
                    text: 'Tous',
                    title: 'Tous'
                }
            ]
        }
    });
    Highcharts.stockChart({
        chart: {
            renderTo: 'graph{{ serre.pk }}-pres',
            borderWidth: 1
        },

        title: {
            text: 'Pression atmosphérique'
        },

        xAxis: {
            type: "datetime",
            title: {
                text: "Temps"
            },
            labels: {
                formatter: function() {
                    return Highcharts.dateFormat('%d/%m/%Y %H:%M', this.value);
                }
            }
        },
        yAxis: {
            title: {
                text: 'Pression (Pascal)'
            },
            labels: {
                format: '{value:,.0f}'
            }
        },
        legend: {
            enabled: false
        },
        plotOptions: {
            spline: {
                dataLabels: {
                    enabled: true,
                    style: {
                        fontSize: '10px',
                        fontWeight: 'normal'
                    },
                    format: '{point.y:.1f}'
                },
                marker: {
                    enabled: false,
                },
                enableMouseTracking: true
            }
        },
        tooltip: {
            useHTML: true,
            headerFormat: '<table><tr><th colspan="2">{point.key}</th></tr>',
            pointFormat: '<tr><td style="color: {series.color}">{series.name} </td>' +
                         '<td style="text-align: right"><b>{point.y:.1f} Pascal</b></td></tr>',
            footerFormat: '</table>',
            crosshairs: [true]
        },
        series: [{
            name: 'Pression',
            color: '#11ee5f',
            data: serre{{ serre.pk }}[4]['data'],
            label: {
                enabled: false
            }
        }],
        rangeSelector: {
            allButtonsEnabled: true,
            buttons: [
                {
                    type: 'hour',
                    count: 1,
                    text: '1h',
                    title: 'Dernière heure'
                },
                {
                    type: 'hour',
                    count: 3,
                    text: '3h',
                    title: '3 dernières heures'
                },
                {
                    type: 'day',
                    count: 1,
                    text: '1j',
                    title: '24 dernières heures'
                },
                {
                    type: 'week',
                    count: 1,
                    text: '1sem',
                    title: '7 derniers jours'
                },
                {
                    type: 'all',
                    text: 'Tous',
                    title: 'Tous'
                }
            ]
        }
    });
    {% endfor %}

{% endblock %}