{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mb-5"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="mb-5"></div>
        <div class="mb-3">
            <h1 style="text-align: center">Changement du mot de passe</h1>
        </div>
    </div>
    {% if errors %}
    <div class="row justify-content-center">
        <div class="mb-5"></div>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Erreurs</h5>
                <p class="card-text">
                    {% for error in errors %}
                        - {{ error }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <form method="post" action="{% url 'modify-password' uidb64=uidb64 token=token %}">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3" style="min-width: 50%">
                <label for="password-input" class="form-label">Nouveau mot de passe</label>
                <input type="password" class="form-control" id="password-input" name="password" required>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3" style="min-width: 50%">
                <label for="password2-input" class="form-label">Confirmez le mot de passe</label>
                <input type="password" class="form-control" id="password2-input" name="password2" required>
            </div>
        </div>
        <div class="mb-5"></div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8 text-center">
                <button class="btn btn-primary" style="align-content: center" type="submit">Modifier</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}