{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="mb-5"></div>
    </div>
    <div class="row justify-content-md-center">
        <div class="mb-5"></div>
        <div class="mb-3">
            <h1 style="text-align: center">Changement du mot de passe</h1>
        </div>
    </div>
    {% if errors %}
    <div class="row justify-content-center">
        <div class="mb-5"></div>
        <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-width: 50%;">
            <div class="card-body">
                <h5 class="card-title">Erreurs</h5>
                <p class="card-text">
                    {% for error in errors %}
                    - {{ error }}
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
    {% endif %}
    <p class="text-break">
        Nous vous enverrons par email un lien vers une page sur laquelle vous pourrez choisir un nouveau mot de passe.
    </p>
    <form method="post" action="/recover/">
        {% csrf_token %}
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 mb-3" style="min-width: 50%">
                <label for="email-input" class="form-label">Adresse e-mail</label>
                <input type="email" class="form-control" id="email-input" name="email" placeholder="Votre adresse e-mail" required>
            </div>
        </div>
        <div class="mb-5"></div>
        <div class="row justify-content-md-center">
            <div class="col-12 col-md-8 text-center">
                <button class="btn btn-primary" style="align-content: center" type="submit"></button>
            </div>
        </div>
    </form>
</div>
{% endblock %}