{% extends 'base.html' %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="mb-5"></div>
        </div>
        <div class="row justify-content-md-center">
            <div class="mb-5"></div>
            <div class="mb-3">
                <h1 style="text-align: center">Se connecter</h1>
            </div>
        </div>
        {% if errors %}
        <div class="row justify-content-center">
            <div class="mb-5"></div>
            <div class="card text-white bg-danger mb-3" style="max-width: 18rem; min-width: 50%;">
                <div class="card-body">
                    <h5 class="card-title">Erreurs</h5>
                    <p class="card-text">
                        {% for error in errors %}
                        - {{ error }}<br>
                        {% endfor %}
                    </p>
                </div>
            </div>
        </div>
        {% endif %}
        <form method="post" action="/login/?next={{ next }}">
            {% csrf_token %}
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 mb-3" style="min-width: 50%;">
                    <label for="username-input" class="form-label">Nom d'utilisateur</label>
                    <input type="text" class="form-control" id="username-input" name="username" placeholder="Votre pseudo" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 mb-3" style="min-width: 50%;">
                    <label for="password-input" class="form-label">Mot de passe</label>
                    <input type="password" class="form-control" id="password-input" name="password" required>
                    <a href="{% url 'recover-password' %}">Mot de passe oublié</a>
                </div>
            </div>
            <div class="mb-5"></div>
            <div class="row justify-content-md-center">
                <div class="col-12 col-md-8 text-center">
                    <button class="btn btn-primary" style="align-content: center" type="submit">Se connecter</button>
                </div>
            </div>
            <div class="mb-5"></div>
        </form>
    </div>
{% endblock %}